@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8EA8C3;
    height: 100vh;
    font-family: "Roboto";
}

header {
    height: 10%;
    background-color: #406E8E;
}

header nav {
    height: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    list-style-type: none;
}

header nav ul li:first-child {
    margin-right: auto;
}

header nav ul li:last-child {
    margin-left: auto;
    margin-right: 20px;
}

header nav ul .default {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #161925;
}

header nav ul .welcome {
    font-weight: 700;
    font-size: larger;
    margin-left: 20px;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#film {
    padding-top: 50px;
}

.card__container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    background-color: #F9F9F9;
    border-radius: 12px;
}

.card__img {
    margin: 20px 20px 10px 20px;
    width: 300px;
    height: 410px;
}

.card__img img {
    width: 100%;
    height: 100%;
}

.card__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card__content h3 {
    text-align: center;
    margin-bottom: 1.25rem;
}

.card__content p {
    margin-bottom: 0.625rem;
}

.card__content a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #161925;
    border: 1px solid #161925;
    padding: 10px 20px;
    border-radius: 8px;
    align-self: center;
    transition: all 0.3s ease;
}

.card__content a:hover {
    color: #161925;
    background-color: white;
}